.dv-container {
    height: 1000px;
    width: 1300px;
    margin-left: 10vw;
    margin-top: 5vh;
    white-space: initial;
}

.dv-input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}