.users-profile-container{
    display: flex;
    flex-direction: row;
    border: dashed 0.5px red;
    height: calc(100vh - 65vh);
    overflow-x: hidden;
    overflow-y: hidden;

  .card-container{
    overflow-x: scroll;
    display: flex;
    direction: row;
  }
  .user-card{
      width: 400px;
      margin-top: 0.8%;
      margin-left: 1%;
      margin-right: 2%;
      margin-bottom: 5px;
      position: relative;
      
    }
}

.user-card-group-title{
    padding: 10px;

   
}
.user-card-details{
    padding-bottom: 8px;
    height: 100px;
}

.user-card-footer{
    margin: 2px;
    background-color: grey;
    height: 200px;
}
.mat-card-action-links{
    top: 1%;
    position: relative;
    padding: 10px;
}

 