# This line tells git to ignore the .DS_Store files that Mac uses for something?? in VSCode. Doesn't change anything important.
.DS_Store

# 10GB of data to filter
libraries_data

# testing pytorch
pytorch_test

# don't upload massive output files from beta data experiments
results.yaml
BetaDataExper/HyperEllipsoid/data/
err_distr_synth.ipynb
animals.csv
bigly_datums
outputs