
<div>
<p><img src="./images/simple_form.png" alt="Simple Form"></p>
<p><br>
This form will automatically determine the best parameters for the pipeline. New users are recommended to start with this form.</p>
<h2><br></h2>

<p><img src="./images/advanced_form.png" alt="Advanced Form"></p>
<p><br>
This form can be used to specify the parameters of the model. The parameters are described in the documentation.</p>
<h2><br></h2>

<p><img src="./images/data_validation.png" alt="Data Validation Page"></p>
<p><br>
This is a tool to assist the user in determining whether their data is valid for use with this service. The user can upload a CSV file and the service will return a list of errors, if any exist.</p>
<h2><br></h2>

<p><img src="./images/request_id.png" alt="Request ID Page"></p>
<p><br>
After a request is submitted, the user will be presented with this page. The request ID can be saved and used to view the results after the pipeline executes.</p>
<h2><br></h2>

<p><img src="./images/results_landing_page.png" alt="Results Landing Page"></p>
<p><br>
When the service has completed running the pipeline, the user will be presented with this page. The user can choose to view customizable visualizations or download the data for their own use.</p>
<h2><br></h2>

<p><img src="./images/ex_boxplot.png" alt="Boxplot"></p>
<p><br>
This plot shows the prediction error for each set of k models from the cross validation process. Low values indicate better model fit, and narrower boxes indicate less variance in the model fit.</p>
<h2><br></h2>

<p><img src="./images/ex_lineplot.png" alt="Lineplot"></p>
<p><br>
This plot provide an alternative view to the Boxplot figure. The x-axis shows which of the k models the data point corresponds to. The y-axis shows the prediction error for that model. The color of the line indicates which set of k models the data point corresponds to.</p>
<h2><br></h2>

<p><img src="./images/ex_best_model.png" alt="Best Model"></p>
<p><br>
This plot shows the prediction error for the single best (according to the specified 'ranking metric') model from each set of the k models constructed during k-fold cross validation. The model has been used to predict on a held-out set of the data.</p>
<h2><br></h2>

<p><img src="./images/ex_2D_PCA.png" alt="2D PCA"></p>
<p><br>
This plot allows the user to determine how well the model performs over different regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from Principal Component Analysis (PCA) have been extracted for use in this graph.</p>
<h2><br></h2>

<p><img src="./images/ex_2D_TSNE.png" alt="2D TSNE"></p>
<p><br>
This plot allows the user to determine how well the model performs over different regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from t-Distributed Stochastic Neighbor Embedding (t-SNE) have been extracted for use in this graph.</p>
<h2><br></h2>

<p><img src="./images/ex_3D_PCA_1.png" alt="3D PCA #1"></p>
<p><br>
This plot allows the user to determine how well the model performs over different regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from Principal Component Analysis (PCA) have been extracted for use in this graph.</p>
<h2><br></h2>

<p><img src="./images/ex_3D_PCA_2.png" alt="3D PCA #2"></p>
<p><br>
This is an alternate view of the 3D PCA plot.</p>
<h2><br></h2>

<p><img src="./images/ex_3D_TSNE.png" alt="3D TSNE"></p>
<p><br>
This plot allows the user to determine how well the model performs over different regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from t-Distributed Stochastic Neighbor Embedding (t-SNE) have been extracted for use in this graph.</p>
<h2><br></h2>

<p><img src="./images/ex_quant_curve.png" alt="Quantity Curve"></p>
<p><br>
This plot provides the user information about the optimal amount of training data to provide their models. The blue line shows training error, or how well the model predicts its own training data. The green line shows test error, or how well the model predicts data it has not been trained on. The two line will eventually converge, which indicates that the model will not benefit from any more training data.</p>
<h2><br></h2>

<p><img src="./images/ex_region_PCA.png" alt="Region PCA"></p>
<p><br>
This plot allows the user to determine how well the model performs over different discretized regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from Principal Component Analysis (PCA) have been extracted for use in this graph.</p>
<h2><br></h2>

<p><img src="images/ex_region_TSNE.png" alt="Region TSNE"></p>
<p><br>
This plot allows the user to determine how well the model performs over different discretized regions of the data. Red points indicate that the model has predicts a point poorly, while blue points indicate the model is accurate for that point. The 2 most important dimensions from t-Distributed Stochastic Neighbor Embedding (t-SNE) have been extracted for use in this graph.</p>
<h2><br></h2>
</div>